# IDE
.idea/

# Environment
venv/

# Docker
admin/docker-compose.yaml

# Data
admin/.dbdata
admin/db.sqlite3

# Migrations
admin/users/migrations/

# Pycache
admin/admin/__pycache__/

admin/users/__pycache__/
admin/users/lib/__pycache__/
admin/users/lib/utils/__pycache__/

admin/users/migrations/__pycache__/

tests/__pycache__/