# IDE
.idea/
django-backend/.idea/

# Environment
venv/
django-backend/venv/

# Docker
# django-backend/admin/docker-compose.yaml

# Data
django-backend/admin/.dbdata
django-backend/admin/db.sqlite3
*.jpg

# Migrations
django-backend/admin/users/migrations/
django-backend/admin/products/migrations/
django-backend/admin/orders/migrations/

# Pycache
django-backend/admin/admin/__pycache__/

django-backend/admin/users/__pycache__/
django-backend/admin/users/lib/__pycache__/
django-backend/admin/users/lib/utils/__pycache__/
django-backend/admin/users/migrations/__pycache__/

django-backend/admin/products/__pycache__/
django-backend/admin/products/migrations/__pycache__/

django-backend/admin/orders/__pycache__/
django-backend/admin/orders/migrations/__pycache__/

django-backend/tests/__pycache__/
