# IDE
.idea/

# Environment
venv/

# Docker
admin/docker-compose.yaml

# Data
admin/.dbdata
admin/db.sqlite3
*.jpg

# Migrations
admin/users/migrations/

# Pycache
admin/admin/__pycache__/

admin/users/__pycache__/
admin/users/lib/__pycache__/
admin/users/lib/utils/__pycache__/
admin/users/migrations/__pycache__/

admin/products/__pycache__/
admin/products/migrations/__pycache__/

admin/orders/__pycache__/
admin/orders/migrations/__pycache__/

tests/__pycache__/
